@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&family=Rubik:wght@400;500;700;900&display=swap");

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  font-family: "Dosis", sans-serif;
  color: white;
}

.MenuPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .game-over {
    font-size: 54px;
    font-weight: 800;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .Score {
    font-weight: 500;
  }
  .btnSection {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 120px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 10px;
      margin: 10px;
      text-transform: uppercase;
      font-weight: 900;
      cursor: pointer;
      background-color: #1baf27;
      color: white;
      font-family: "Dosis", sans-serif;
      transition: 0.3s all;
    }
    button:hover {
      background-color: #0d6715;
    }
    button:active {
      transform: translateY(20px);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  border: 1px solid #1baf27;

  .cell {
    background-color: #1e2229;
  }

  .snake {
    background-color: #1baf27;
    border-radius: 10px;
  }

  .apple {
    // background-color: #ff6347;
    background-image: url("https://img.icons8.com/tiny-color/64/apple.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
